/* ================================= 
  Base Element Styles
==================================== */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Noto Sans', sans-serif;
    color: #5b5b60;

}
p {
    color: #5b5b60;
    font-size: 1.3em;
}
header {
    background-color: #f0f0f0;
    text-align: center;
}
h1 {
    text-transform: uppercase;
}
ul {
    list-style-type: none;
  }

main {
    margin: 0 30px 0 30px;
    display: inline-block;
    justify-content:center;
}
img {
    width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */



/* ---- Navigation ---- */
.main-header{
    padding-bottom: 50px;
}      
.main-nav {
    display: inline-block;
    align-items: center;
    height: 60px;
    width: 90%;    
    margin-bottom: 100px;
}
.main-nav li{
    justify-content: center;
    background-color: white;
    margin-bottom: 8px; 
    padding: 18px;
    font-size: 1.3em;
    font-weight: 600;
}
.main dev img :first-child{
width: 40%;
}
.name {
    font-size: 2.5em;
    font-weight: 600;
    margin: 0 0 20px 0; 
    padding: 30px 0 10px 0; 
}
.images :first-child{
    height: 80%;
}
/* ---- Layout Containers ---- */

/* ---- Page Elements ---- */

/* ================================= 
  Media Queries
==================================== */