/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {

}
/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Navigation ---- */
.banner, footer {
    text-align: center;
    background-color: #f8f8f8;
}
header {
}
main {
    text-align: center;
}
.main-nav, footer li {
    padding: 1em;
    list-style-type: none;
}
.main-nav {
    display: flex;   
    flex-direction: column;     
    gap: 10px;
}
.main-nav li {
    font-size: 1.4rem;
    font-weight: bold;
    color: #404040;
    background-color: white;
    height: 60px;
    border-radius: .5em;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding-top: .8em;
}
.name {
    padding: 1em 0 .5em 0;
    color: 404040;
    text-transform: capitalize;
}
/* ---- Profile  ---- */
a {
    text-decoration: none;
    color: #404040;
    text-align: center;
}
img {
    max-width: 95%;
    margin: auto;
}
.about-banner {
    background-color: #f8f8f8;
}

.about {
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    padding-bottom: 2em;
}
.about1 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 1200px;
    margin: 0 2em;
    color: gray;
    text-align: center;
}

.about2 {
    padding: 0 3em;
    margin: 2em auto;
}
/* ---- articles ---- */
.portfolio {
    margin: 2.5em 0;
    font-weight: 600;
    text-transform: uppercase;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col1 {
    font-size: 1.7rem;
    font-weight: 400;
    order: 2;
    margin: 1em 0;
    text-transform: capitalize;
}
.col2{
    color: rgb(95, 95, 95);
    font-size: 1.4rem;
    line-height: 1.5;
    order: 3;
    margin: 0 2em;
}
/* ---- footer ---- */
.contact {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 1200px;
}
footer {
    margin: 2em 0 0 0;
    padding-top: 4em;
    background-color: #f8f8f8;
}
footer h2 {
    font-weight: 600;
    font-size: 1.5rem;
}
footer p {
    color: gray;
    margin: 1.2em;
}
footer ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
}
footer li {
    font-size: 1.2em;
    font-weight: 600;
}
.top {
    text-transform: uppercase;
}
.student {
    text-transform: capitalize;
}
/* removes footer for tablet view */
.footer-tablet {
    display: none;
}
.footer-nav {
    padding: 2em 0;
    max-width: 80%;
    margin: 0 auto;
}
hr {
    max-width: 90%;
    margin: auto;
}
/* ================================= 
Media Queries
==================================== */
@media screen and (min-width: 768px) {
   .main-header {
    display: flex;
    flex-direction: column;
   }
   .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
    .name {
        font-size: 1.5rem;
    }
   .main-nav li {
    font-size: 1rem;
    font-weight: bold;
    color: #404040;
    background: none;
    justify-content: center;
    text-transform: uppercase;
}
    .about {
        display: flex;
        flex-direction: row;
        justify-content:center;
        padding-bottom: 1em;
    }
    .about1 {
        text-align: left;
        font-size: 1.3em;
        padding: 4em 0;
        margin: 2em;
        flex-grow: 2;
        width: 80%;
    }
    .about2 {
        padding: 1em;
        flex-grow: 1;
    }
    .projects {
        display: flex;
        flex-direction: row;
    }
    .footer-mobile {
        display: none;
    }
    .footer-tablet, hr {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }
    .contact {
        max-width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .main-header {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        max-width: 1200px;
        margin: auto;
    }
    .about, .contact, .projects {
        margin: auto;
        max-width: 1200px;    
    }
    .about1 {
        padding: 0;
    }
    .portfolio {
        font-size: 1rem;
    }
    .col1 {
        font-size: 1.2rem;
    }
    .col2 {
        font-size:1rem ;
        }
    .contact {
        max-width: 700px;
    }
}

